
header{
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;

}

